<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3 class="fs-5">Services :</h3>
                    <ul class="fs-6">
                        <li><a href="#" class="text-secondary">Trendy Movies</a></li>
                        <li><a href="#" class="text-secondary">Recommendations </a></li>
                        <li><a href="#" class="text-secondary">WishList</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3 class="fs-5">Links :</h3>
                    <ul class="fs-6">
                        <li><a href="#" class="text-secondary">Home</a></li>
                        <li><a href="#" class="text-secondary">Movies</a></li>
                        <li><a href="#" class="text-secondary">WishList</a></li>
                    </ul> 
                </div>
              
                <div class="col-lg-3 item social" style>
                    <a href="#" class="text-light social-icon "><i class="fab fa-facebook border rounded-circle" ></i></a>
                    <a href="#" class="text-light social-icon"><i class="fab fa-twitter border rounded-circle"></i></a>
                    <a href="#" class="text-light social-icon"><i class="fab fa-instagram  border rounded-circle"></i></a>
                    <p class="copyright mt-3 text-warning ">Php Students © 2024</p>
                  </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>