<div class="superNav border-bottom py-2 bg-light" > 
    <div style="background-color: rgb(232, 188, 31); height: 4vh; padding-top: 5px;">
        <div class="container">
            <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
            <select  class="me-3 border-0 bg-light">
                <option value="en-us">EN-US</option>
                <option value="en-us">AR-EG</option>
            </select>
            <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3"></span>
            <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i> <strong>1-800-123-1234</strong></span>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
            <span class="me-3"><i class="fa-solid fa-envelope text-muted mx-2"></i><a class="text-muted" href="#">E-mail</a></span>
            <span class="me-3"><i class="fa-solid fa-file  text-muted mx-2"></i><a class="text-muted" href="#">Policy</a></span>
            </div>
        </div>
        </div></div>
</div>
<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
<a class="navbar-brand" ><i class="fa-solid fa-film mx-2 text-warning"></i> 
    <strong class="strong">The Movies</strong></a>

    
        <ul class="navbar-nav ms-auto ">
       
        <li class="nav-item">
            <a class="nav-link mx-2 " routerLink="movies"> <i class="fa-solid fa-video"></i> &nbsp;Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link mx-2 " routerLink="wishlist"> <i class="fa-solid fa-heart"></i> &nbsp;Wish List</a>
        </li>
        </ul>
        
    </div>
    </nav>
    