
<app-search></app-search>
<div class="container">
  <div class="row py-5 gap-3 justify-content-center">
    <p class="fw-bold fs-5">popular movies</p>
    <div
      *ngFor="let movie of recommendedMovies"
      class="col-md-2 card-title border p-0"
      style="width: 14rem"
    >
      <img
        class="img-fluid rounded"
        [src]="imgPrefix + movie.poster_path"
        style="cursor: pointer"
        (click)="movieDetails(movie.id)"
      />
      <div class="circle-progress">
        <h5 class="percentage fw-bolder px-3">
          {{ movie.vote_average.toFixed(1) }}<sup>%</sup>
        </h5>
      </div>

      <h4 class="px-3 fs-6">{{ movie.title | uppercase }}</h4>
      <h6 class="text-secondary px-3" style="font-size: 1vw">
        {{ movie.release_date | date }}
      </h6>
      <div class="heart d-flex justify-content-end">
        <i class="fa-regular fa-heart text-end px-3"></i>
      </div>
    </div>
  </div>
</div>
