<div class="container mt-3 d-flex justify-content-center">
  <div class="card mb-3 p-2 w-75">
    <div class="row g-0 mb-3">
      @if (movie) {
      <div class="col-md-4">
        <img
          [src]="imgBase + movie.poster_path"
          class="img-fluid rounded"
          alt="..."
        />
      </div>
      <div class="col-md-8" style="flex: 1">
        <div class="card-body">
          <h1 class="card-title mb-0">{{ movie.title }}</h1>

          <div>
            <i
              [ngClass]="
                movie.flag
                  ? 'fa-solid fa-heart text-end px-3'
                  : 'fa-regular fa-heart text-end px-3'
              "
              (click)="wishlistCheck(movie)"
              style="cursor: pointer; color: rgb(232, 188, 31)"
            ></i>
          </div>

          <small class="card-text fw-light" style="margin-top: -1px">{{
            movie.release_date
          }}</small>
          <p class="card-text">
            Rating: {{ movie.vote_average }} ({{ movie.vote_count }})
          </p>
          <p class="card-text">{{ movie.overview }}</p>
          <div class="card-text">
            @for (genre of movie.genres; track $index) {
            <div
              class="btn card-link my-md-1 me-1 px-3 rounded-pill fw-medium"
              style="background-color: #ffe353"
            >
              {{ genre.name }}
            </div>
            }
          </div>
          <div class="card-text d-flex flex-xl-row flex-column">
            <small
              ><span class="fw-bold">Duration:</span>
              <span class="fw-medium ms-2">{{ movie.runtime }}</span></small
            >
            <small
              ><span class="fw-bold ms-xl-5">Languages:</span>
              @for (language of movie.spoken_languages;track $index) {
              <span class="fw-medium ms-2"> {{ language.english_name }}</span>
              @if (!$last) {<span>,</span>} }</small
            >
          </div>
          <div class="mt-5 col-xl-6 col-lg-5 col-md-6">
            <img
              [src]="imgBase + companyLogo"
              alt=""
              class="img-fluid"
              style="max-height: 10rem"
            />
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
<hr />
<app-recommended [id]="id"></app-recommended>
